$primary-color:#03ABF4;
$primary-color-1:#41BAEE;
$primary-color-2:#0FAEF3;
$primary-color-3:#017BB0;
$primary-color-4:#015C83;
$primary-text:#FFFFFF;
$primary-inverse-text:#000000;

$secondary-color:#0929F6;
$secondary-color-1:#5167F1;
$secondary-color-2:#2340F4;
$secondary-color-3:#031DBC;
$secondary-color-4:#04178F;
$secondary-text:#FFFFFF;
$primary-secondary-text:#000000;

$accent-color:#00F764;
$accent-color-1:#39F284;
$accent-color-2:#04F666;
$accent-color-3:#00C34F;
$accent-color-4:#00963D;
$accent-text:#000000;
$accent-inverse-text:#FFFFFF;