<div class="container">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <div class="card login-card">
        <div class="card-body my-5">
          <form class="mx-3">
            <div class="form-group row">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group row">
              <input type="password" class="form-control" placeholder="Password">
            </div>
          </form>
          <button class="btn btn-primary btn-block">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>