<div class="container my-5">

  <h3 class="color-grey-600 month-nav">
    <button (click)="onPrevMonthClick()" class="btn btn-fab btn-fab btn-fab-xs my-1 mx-3 color-grey-600">
      <i class="material-icons">
        navigate_before
      </i>
    </button>
    {{getMonth(activeMonth)}}
    <button (click)="onNextMonthClick()" class="btn btn-fab btn-fab btn-fab-xs my-1 mx-3 color-grey-600">
      <i class="material-icons">
        navigate_next
      </i>
    </button>
  </h3>

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div *ngFor="let weekDay of weekDays" class="col color-grey-600 text-center">{{weekDay}}</div>
      </div>

      <div *ngFor="let week of weeks" class="row">
        <div *ngFor="let day of week" class="col px-0 px-md-3">
          <div (click)="onSetActiveDay(day)" [ngStyle]="{background: none}" [class.inactive-month]="day === null"
            [class.hidden]="activeDay" [class.bg-white]="!isToday(day?.date)" [class.bg-blue-50]="isToday(day?.date)"
            class="col calendar-day btn">
            {{getDate(day?.date)}}
            <div class="row  workout-row">
              <div *ngFor="let workout of day?.expectedWorkouts" class="col color-green-700">
                <i class="material-icons"> schedule</i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>