/* calendar */

.calendar-day {
    height: 100px;
    margin: 3px;
    padding: 10px 0;
    text-align: center;
    transition: 0.5s;
}

.calendar-day:hover {
    z-index: 10;
}

.calendar-day.inactive-month {
    opacity: 0.5;
}

.workout-row {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.workout-row .col {
    padding: 5px;
}

.calendar-day.hidden {
    opacity: 0;
    position: absolute;
}

.month-nav {
    display: flex;
}

@media (max-width: 767.98px) {
    .calendar-day {
        height: 60px;
    }
}