.btn {
    position: relative;
    border-radius: 1px;
    box-shadow: $shadow-1;
    display: block;
    z-index: 10;
}

.btn:focus {
    outline: $shadow-1;
    box-shadow: $shadow-1;
}

.btn:hover {
    box-shadow: $shadow-2;
}

.btn:active {
    box-shadow: $shadow-0;
}

// flat
.btn.btn-flat:not(:hover):not(:active) {
    background-color: transparent;
    color: $black;
    border-radius: 1px;
    box-shadow: none;
    border: none;
}

// fab
.btn.btn-fab {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.btn.btn-fab.btn-fab-s {
    width: 40px;
    height: 40px;
    padding: 6px;
}

.btn.btn-fab.btn-fab-xs {
    width: 24px;
    height: 24px;
    padding: 3px;
    font-size: 10px;
}

.btn.btn-fab.btn-fab-xs i {
    font-size: 16px;
}

.btn.btn-fab.btn-fab-anchor-t {
    @extend .btn.btn-fab.btn-fab-s;
    position: absolute;
    top: -20px;
    left: 20px;
}

.btn.btn-fab.btn-fab-anchor-b {
    @extend .btn.btn-fab.btn-fab-s;
    position: absolute;
    bottom: -20px;
    right: 20px;
}

.btn.btn-fab.btn-fab-anchor-r {
    @extend .btn.btn-fab.btn-fab-s;
    position: absolute;
    right: -20px;
    top: 20px;
}

.btn.btn-fab.btn-fab-anchor-r2 {
    @extend .btn.btn-fab.btn-fab-s;
    position: absolute;
    right: -20px;
    top: 80px;
}

.btn.btn-fab.btn-fab-anchor-r3 {
    @extend .btn.btn-fab.btn-fab-s;
    position: absolute;
    right: -20px;
    top: 140px;
}

.btn.btn-fab.fixxed {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

.fab-in {
    animation-name: fab-in;
    animation-duration: 1s;
    z-index: 10;
}

.fab-out {
    animation-name: fab-out;
    animation-duration: 1s;
    z-index: 0;
}

@keyframes fab-in {
    0% {
        transform: scaleX(0);
        z-index: 0;
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
        z-index: 10;
    }
}

@keyframes fab-out {
    0% {
        transform: scaleX(1);
        z-index: 10;
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(0);
        z-index: 0;
    }
}