.card {
    box-shadow: $shadow-1;
    border: none;
}

//  layered wide
.card.layered.wide {
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.card.layered.wide .card-block {
    margin: 0 20px;
    background-color: $white;
    box-shadow: $shadow-1;
}

.card.layered.wide .card-img-top {
    box-shadow: $shadow-2;
    z-index: 1;
}

//  layered thin
.card.layered.thin .card-img-top {
    margin: 0px 20px 0px 20px;
    box-shadow: $shadow-2;
}