// card expand
.list-group .list-group-item.expand {
    color: $grey-900;
    width: 100%;
    transition: all 0.3s;
}

.list-group .list-group-item.expand:not(.active) .list-group-item:not(:first-child) {
    display: none;
}

.list-group .list-group-item.expand:hover,
.list-group .list-group-item.expand:active {
    background-color: #fff;
}

.list-group .list-group-item.expand:not(:first-child):not(.active)::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: 5;
    background-color: #fff;
}

.list-group .list-group-item.expand.active {
    box-shadow: $shadow-1;
    color: $black;
    background-color: $white;
    border-color: $white;
}

.list-group .list-group-item.expand.active {
    box-shadow: $shadow-1;
    color: $black;
    background-color: $white;
    border-color: $white;
}

.list-group .list-group-item.expand.active:not(:first-child):not(:last-child) {
    margin: 20px -20px;
    width: auto;
}

.list-group .list-group-item.expand.active:first-child {
    margin: 0 -20px;
    margin-bottom: 20px;
    width: auto;
}

.list-group .list-group-item.expand.active:last-child {
    margin: 0 -20px;
    margin-top: 20px;
    width: auto;
}

// normal list
.list-group .list-group-item {
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    z-index: 1;
    margin: 1px;
}

.list-group .list-group-item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group .list-group-item .icon {
    flex: none;
}

.list-group .list-group-item .details {
    flex: 1 1 auto;
}

.list-group .list-group-item .action {
    flex: 0 0 auto;
    float: right;
    display: none;
}

.list-group .list-group-item:hover .action {
    display: block;
}

.list-group .list-group-item .action .btn {
    margin: 8px;
}

.list-group .list-group-item .text {
    display: block;
    margin: 0;
    padding: 16px;
    font-size: 16px;
}

.list-group .list-group-item .text:not(:first-child) {
    padding: 0 16px;
    margin-top: -16px;
}

.list-group .list-group-item .secondary-text {
    @extend .color-grey-400;
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
}