// red
.bg-red-50 {
    color: $black;
    background-color: $red-50;
}

.bg-red-100 {
    color: $black;
    background-color: $red-100;
}

.bg-red-200 {
    color: $black;
    background-color: $red-200;
}

.bg-red-300 {
    color: $black;
    background-color: $red-300;
}

.bg-red-400 {
    color: $white;
    background-color: $red-400;
}

.bg-red-500 {
    color: $white;
    background-color: $red-500;
}

.bg-red-600 {
    color: $white;
    background-color: $red-600;
}

.bg-red-700 {
    color: $white;
    background-color: $red-700;
}

.bg-red-800 {
    color: $white;
    background-color: $red-800;
}

.bg-red-900 {
    color: $white;
    background-color: $red-900;
}

.bg-red-A100 {
    color: $black;
    background-color: $red-A100;
}

.bg-red-A200 {
    color: $white;
    background-color: $red-A200;
}

.bg-red-A400 {
    color: $white;
    background-color: $red-A400;
}

.bg-red-A700 {
    color: $white;
    background-color: $red-A700;
}

.bg-pink-50 {
    color: $black;
    background-color: $pink-50;
}

.bg-pink-100 {
    color: $black;
    background-color: $pink-100;
}

.bg-pink-200 {
    color: $black;
    background-color: $pink-200;
}

.bg-pink-300 {
    color: $black;
    background-color: $pink-300;
}

.bg-pink-400 {
    color: $white;
    background-color: $pink-400;
}

.bg-pink-500 {
    color: $white;
    background-color: $pink-500;
}

.bg-pink-600 {
    color: $white;
    background-color: $pink-600;
}

.bg-pink-700 {
    color: $white;
    background-color: $pink-700;
}

.bg-pink-800 {
    color: $white;
    background-color: $pink-800;
}

.bg-pink-900 {
    color: $white;
    background-color: $pink-900;
}

.bg-pink-A100 {
    color: $black;
    background-color: $pink-A100;
}

.bg-pink-A200 {
    color: $white;
    background-color: $pink-A200;
}

.bg-pink-A400 {
    color: $white;
    background-color: $pink-A400;
}

.bg-pink-A700 {
    color: $white;
    background-color: $pink-A700;
}

.bg-purple-50 {
    color: $black;
    background-color: $purple-50;
}

.bg-purple-100 {
    color: $black;
    background-color: $purple-100;
}

.bg-purple-200 {
    color: $black;
    background-color: $purple-200;
}

.bg-purple-300 {
    color: $white;
    background-color: $purple-300;
}

.bg-purple-400 {
    color: $white;
    background-color: $purple-400;
}

.bg-purple-500 {
    color: $white;
    background-color: $purple-500;
}

.bg-purple-600 {
    color: $white;
    background-color: $purple-600;
}

.bg-purple-700 {
    color: $white;
    background-color: $purple-700;
}

.bg-purple-800 {
    color: $white;
    background-color: $purple-800;
}

.bg-purple-900 {
    color: $white;
    background-color: $purple-900;
}

.bg-purple-A100 {
    color: $black;
    background-color: $purple-A100;
}

.bg-purple-A200 {
    color: $white;
    background-color: $purple-A200;
}

.bg-purple-A400 {
    color: $white;
    background-color: $purple-A400;
}

.bg-purple-A700 {
    color: $white;
    background-color: $purple-A700;
}

.bg-deep-purple-50 {
    color: $black;
    background-color: $deep-purple-50;
}

.bg-deep-purple-100 {
    color: $black;
    background-color: $deep-purple-100;
}

.bg-deep-purple-200 {
    color: $black;
    background-color: $deep-purple-200;
}

.bg-deep-purple-300 {
    color: $white;
    background-color: $deep-purple-300;
}

.bg-deep-purple-400 {
    color: $white;
    background-color: $deep-purple-400;
}

.bg-deep-purple-500 {
    color: $white;
    background-color: $deep-purple-500;
}

.bg-deep-purple-600 {
    color: $white;
    background-color: $deep-purple-600;
}

.bg-deep-purple-700 {
    color: $white;
    background-color: $deep-purple-700;
}

.bg-deep-purple-800 {
    color: $white;
    background-color: $deep-purple-800;
}

.bg-deep-purple-900 {
    color: $white;
    background-color: $deep-purple-900;
}

.bg-deep-purple-A100 {
    color: $black;
    background-color: $deep-purple-A100;
}

.bg-deep-purple-A200 {
    color: $white;
    background-color: $deep-purple-A200;
}

.bg-deep-purple-A400 {
    color: $white;
    background-color: $deep-purple-A400;
}

.bg-deep-purple-A700 {
    color: $white;
    background-color: $deep-purple-A700;
}

.bg-indigo-50 {
    color: $black;
    background-color: $indigo-50;
}

.bg-indigo-100 {
    color: $black;
    background-color: $indigo-100;
}

.bg-indigo-200 {
    color: $black;
    background-color: $indigo-200;
}

.bg-indigo-300 {
    color: $white;
    background-color: $indigo-300;
}

.bg-indigo-400 {
    color: $white;
    background-color: $indigo-400;
}

.bg-indigo-500 {
    color: $white;
    background-color: $indigo-500;
}

.bg-indigo-600 {
    color: $white;
    background-color: $indigo-600;
}

.bg-indigo-700 {
    color: $white;
    background-color: $indigo-700;
}

.bg-indigo-800 {
    color: $white;
    background-color: $indigo-800;
}

.bg-indigo-900 {
    color: $white;
    background-color: $indigo-900;
}

.bg-indigo-A100 {
    color: $black;
    background-color: $indigo-A100;
}

.bg-indigo-A200 {
    color: $white;
    background-color: $indigo-A200;
}

.bg-indigo-A400 {
    color: $white;
    background-color: $indigo-A400;
}

.bg-indigo-A700 {
    color: $white;
    background-color: $indigo-A700;
}

.bg-blue-50 {
    color: $black;
    background-color: $blue-50;
}

.bg-blue-100 {
    color: $black;
    background-color: $blue-100;
}

.bg-blue-200 {
    color: $black;
    background-color: $blue-200;
}

.bg-blue-300 {
    color: $black;
    background-color: $blue-300;
}

.bg-blue-400 {
    color: $black;
    background-color: $blue-400;
}

.bg-blue-500 {
    color: $black;
    background-color: $blue-500;
}

.bg-blue-600 {
    color: $white;
    background-color: $blue-600;
}

.bg-blue-700 {
    color: $white;
    background-color: $blue-700;
}

.bg-blue-800 {
    color: $white;
    background-color: $blue-800;
}

.bg-blue-900 {
    color: $white;
    background-color: $blue-900;
}

.bg-blue-A100 {
    color: $black;
    background-color: $blue-A100;
}

.bg-blue-A200 {
    color: $white;
    background-color: $blue-A200;
}

.bg-blue-A400 {
    color: $white;
    background-color: $blue-A400;
}

.bg-blue-A700 {
    color: $white;
    background-color: $blue-A700;
}

.bg-light-blue-50 {
    color: $black;
    background-color: $light-blue-50;
}

.bg-light-blue-100 {
    color: $black;
    background-color: $light-blue-100;
}

.bg-light-blue-200 {
    color: $black;
    background-color: $light-blue-200;
}

.bg-light-blue-300 {
    color: $black;
    background-color: $light-blue-300;
}

.bg-light-blue-400 {
    color: $black;
    background-color: $light-blue-400;
}

.bg-light-blue-500 {
    color: $black;
    background-color: $light-blue-500;
}

.bg-light-blue-600 {
    color: $black;
    background-color: $light-blue-600;
}

.bg-light-blue-700 {
    color: $white;
    background-color: $light-blue-700;
}

.bg-light-blue-800 {
    color: $white;
    background-color: $light-blue-800;
}

.bg-light-blue-900 {
    color: $white;
    background-color: $light-blue-900;
}

.bg-light-blue-A100 {
    color: $black;
    background-color: $light-blue-A100;
}

.bg-light-blue-A200 {
    color: $black;
    background-color: $light-blue-A200;
}

.bg-light-blue-A400 {
    color: $black;
    background-color: $light-blue-A400;
}

.bg-light-blue-A700 {
    color: $white;
    background-color: $light-blue-A700;
}

.bg-cyan-50 {
    color: $black;
    background-color: $cyan-50;
}

.bg-cyan-100 {
    color: $black;
    background-color: $cyan-100;
}

.bg-cyan-200 {
    color: $black;
    background-color: $cyan-200;
}

.bg-cyan-300 {
    color: $black;
    background-color: $cyan-300;
}

.bg-cyan-400 {
    color: $black;
    background-color: $cyan-400;
}

.bg-cyan-500 {
    color: $black;
    background-color: $cyan-500;
}

.bg-cyan-600 {
    color: $black;
    background-color: $cyan-600;
}

.bg-cyan-700 {
    color: $white;
    background-color: $cyan-700;
}

.bg-cyan-800 {
    color: $white;
    background-color: $cyan-800;
}

.bg-cyan-900 {
    color: $white;
    background-color: $cyan-900;
}

.bg-cyan-A100 {
    color: $black;
    background-color: $cyan-A100;
}

.bg-cyan-A200 {
    color: $black;
    background-color: $cyan-A200;
}

.bg-cyan-A400 {
    color: $black;
    background-color: $cyan-A400;
}

.bg-cyan-A700 {
    color: $black;
    background-color: $cyan-A700;
}

.bg-teal-50 {
    color: $black;
    background-color: $teal-50;
}

.bg-teal-100 {
    color: $black;
    background-color: $teal-100;
}

.bg-teal-200 {
    color: $black;
    background-color: $teal-200;
}

.bg-teal-300 {
    color: $black;
    background-color: $teal-300;
}

.bg-teal-400 {
    color: $black;
    background-color: $teal-400;
}

.bg-teal-500 {
    color: $white;
    background-color: $teal-500;
}

.bg-teal-600 {
    color: $white;
    background-color: $teal-600;
}

.bg-teal-700 {
    color: $white;
    background-color: $teal-700;
}

.bg-teal-800 {
    color: $white;
    background-color: $teal-800;
}

.bg-teal-900 {
    color: $white;
    background-color: $teal-900;
}

.bg-teal-A100 {
    color: $black;
    background-color: $teal-A100;
}

.bg-teal-A200 {
    color: $black;
    background-color: $teal-A200;
}

.bg-teal-A400 {
    color: $black;
    background-color: $teal-A400;
}

.bg-teal-A700 {
    color: $black;
    background-color: $teal-A700;
}

.bg-green-50 {
    color: $black;
    background-color: $green-50;
}

.bg-green-100 {
    color: $black;
    background-color: $green-100;
}

.bg-green-200 {
    color: $black;
    background-color: $green-200;
}

.bg-green-300 {
    color: $black;
    background-color: $green-300;
}

.bg-green-400 {
    color: $black;
    background-color: $green-400;
}

.bg-green-500 {
    color: $black;
    background-color: $green-500;
}

.bg-green-600 {
    color: $white;
    background-color: $green-600;
}

.bg-green-700 {
    color: $white;
    background-color: $green-700;
}

.bg-green-800 {
    color: $white;
    background-color: $green-800;
}

.bg-green-900 {
    color: $white;
    background-color: $green-900;
}

.bg-green-A100 {
    color: $black;
    background-color: $green-A100;
}

.bg-green-A200 {
    color: $black;
    background-color: $green-A200;
}

.bg-green-A400 {
    color: $black;
    background-color: $green-A400;
}

.bg-green-A700 {
    color: $black;
    background-color: $green-A700;
}

.bg-light-green-50 {
    color: $black;
    background-color: $light-green-50;
}

.bg-light-green-100 {
    color: $black;
    background-color: $light-green-100;
}

.bg-light-green-200 {
    color: $black;
    background-color: $light-green-200;
}

.bg-light-green-300 {
    color: $black;
    background-color: $light-green-300;
}

.bg-light-green-400 {
    color: $black;
    background-color: $light-green-400;
}

.bg-light-green-500 {
    color: $black;
    background-color: $light-green-500;
}

.bg-light-green-600 {
    color: $black;
    background-color: $light-green-600;
}

.bg-light-green-700 {
    color: $black;
    background-color: $light-green-700;
}

.bg-light-green-800 {
    color: $white;
    background-color: $light-green-800;
}

.bg-light-green-900 {
    color: $white;
    background-color: $light-green-900;
}

.bg-light-green-A100 {
    color: $black;
    background-color: $light-green-A100;
}

.bg-light-green-A200 {
    color: $black;
    background-color: $light-green-A200;
}

.bg-light-green-A400 {
    color: $black;
    background-color: $light-green-A400;
}

.bg-light-green-A700 {
    color: $black;
    background-color: $light-green-A700;
}

.bg-lime-50 {
    color: $black;
    background-color: $lime-50;
}

.bg-lime-100 {
    color: $black;
    background-color: $lime-100;
}

.bg-lime-200 {
    color: $black;
    background-color: $lime-200;
}

.bg-lime-300 {
    color: $black;
    background-color: $lime-300;
}

.bg-lime-400 {
    color: $black;
    background-color: $lime-400;
}

.bg-lime-500 {
    color: $black;
    background-color: $lime-500;
}

.bg-lime-600 {
    color: $black;
    background-color: $lime-600;
}

.bg-lime-700 {
    color: $black;
    background-color: $lime-700;
}

.bg-lime-800 {
    color: $black;
    background-color: $lime-800;
}

.bg-lime-900 {
    color: $white;
    background-color: $lime-900;
}

.bg-lime-A100 {
    color: $black;
    background-color: $lime-A100;
}

.bg-lime-A200 {
    color: $black;
    background-color: $lime-A200;
}

.bg-lime-A400 {
    color: $black;
    background-color: $lime-A400;
}

.bg-lime-A700 {
    color: $black;
    background-color: $lime-A700;
}

.bg-yellow-50 {
    color: $black;
    background-color: $yellow-50;
}

.bg-yellow-100 {
    color: $black;
    background-color: $yellow-100;
}

.bg-yellow-200 {
    color: $black;
    background-color: $yellow-200;
}

.bg-yellow-300 {
    color: $black;
    background-color: $yellow-300;
}

.bg-yellow-400 {
    color: $black;
    background-color: $yellow-400;
}

.bg-yellow-500 {
    color: $black;
    background-color: $yellow-500;
}

.bg-yellow-600 {
    color: $black;
    background-color: $yellow-600;
}

.bg-yellow-700 {
    color: $black;
    background-color: $yellow-700;
}

.bg-yellow-800 {
    color: $black;
    background-color: $yellow-800;
}

.bg-yellow-900 {
    color: $black;
    background-color: $yellow-900;
}

.bg-yellow-A100 {
    color: $black;
    background-color: $yellow-A100;
}

.bg-yellow-A200 {
    color: $black;
    background-color: $yellow-A200;
}

.bg-yellow-A400 {
    color: $black;
    background-color: $yellow-A400;
}

.bg-yellow-A700 {
    color: $black;
    background-color: $yellow-A700;
}

.bg-amber-50 {
    color: $black;
    background-color: $amber-50;
}

.bg-amber-100 {
    color: $black;
    background-color: $amber-100;
}

.bg-amber-200 {
    color: $black;
    background-color: $amber-200;
}

.bg-amber-300 {
    color: $black;
    background-color: $amber-300;
}

.bg-amber-400 {
    color: $black;
    background-color: $amber-400;
}

.bg-amber-500 {
    color: $black;
    background-color: $amber-500;
}

.bg-amber-600 {
    color: $black;
    background-color: $amber-600;
}

.bg-amber-700 {
    color: $black;
    background-color: $amber-700;
}

.bg-amber-800 {
    color: $black;
    background-color: $amber-800;
}

.bg-amber-900 {
    color: $black;
    background-color: $amber-900;
}

.bg-amber-A100 {
    color: $black;
    background-color: $amber-A100;
}

.bg-amber-A200 {
    color: $black;
    background-color: $amber-A200;
}

.bg-amber-A400 {
    color: $black;
    background-color: $amber-A400;
}

.bg-amber-A700 {
    color: $black;
    background-color: $amber-A700;
}

.bg-orange-50 {
    color: $black;
    background-color: $orange-50;
}

.bg-orange-100 {
    color: $black;
    background-color: $orange-100;
}

.bg-orange-200 {
    color: $black;
    background-color: $orange-200;
}

.bg-orange-300 {
    color: $black;
    background-color: $orange-300;
}

.bg-orange-400 {
    color: $black;
    background-color: $orange-400;
}

.bg-orange-500 {
    color: $black;
    background-color: $orange-500;
}

.bg-orange-600 {
    color: $black;
    background-color: $orange-600;
}

.bg-orange-700 {
    color: $black;
    background-color: $orange-700;
}

.bg-orange-800 {
    color: $black;
    background-color: $orange-800;
}

.bg-orange-900 {
    color: $white;
    background-color: $orange-900;
}

.bg-orange-A100 {
    color: $black;
    background-color: $orange-A100;
}

.bg-orange-A200 {
    color: $black;
    background-color: $orange-A200;
}

.bg-orange-A400 {
    color: $black;
    background-color: $orange-A400;
}

.bg-orange-A700 {
    color: $black;
    background-color: $orange-A700;
}

.bg-deep-orange-50 {
    color: $black;
    background-color: $deep-orange-50;
}

.bg-deep-orange-100 {
    color: $black;
    background-color: $deep-orange-100;
}

.bg-deep-orange-200 {
    color: $black;
    background-color: $deep-orange-200;
}

.bg-deep-orange-300 {
    color: $black;
    background-color: $deep-orange-300;
}

.bg-deep-orange-400 {
    color: $black;
    background-color: $deep-orange-400;
}

.bg-deep-orange-500 {
    color: $black;
    background-color: $deep-orange-500;
}

.bg-deep-orange-600 {
    color: $white;
    background-color: $deep-orange-600;
}

.bg-deep-orange-700 {
    color: $white;
    background-color: $deep-orange-700;
}

.bg-deep-orange-800 {
    color: $white;
    background-color: $deep-orange-800;
}

.bg-deep-orange-900 {
    color: $white;
    background-color: $deep-orange-900;
}

.bg-deep-orange-A100 {
    color: $black;
    background-color: $deep-orange-A100;
}

.bg-deep-orange-A200 {
    color: $black;
    background-color: $deep-orange-A200;
}

.bg-deep-orange-A400 {
    color: $white;
    background-color: $deep-orange-A400;
}

.bg-deep-orange-A700 {
    color: $white;
    background-color: $deep-orange-A700;
}

.bg-brown-50 {
    color: $black;
    background-color: $brown-50;
}

.bg-brown-100 {
    color: $black;
    background-color: $brown-100;
}

.bg-brown-200 {
    color: $black;
    background-color: $brown-200;
}

.bg-brown-300 {
    color: $white;
    background-color: $brown-300;
}

.bg-brown-400 {
    color: $white;
    background-color: $brown-400;
}

.bg-brown-500 {
    color: $white;
    background-color: $brown-500;
}

.bg-brown-600 {
    color: $white;
    background-color: $brown-600;
}

.bg-brown-700 {
    color: $white;
    background-color: $brown-700;
}

.bg-brown-800 {
    color: $white;
    background-color: $brown-800;
}

.bg-brown-900 {
    color: $white;
    background-color: $brown-900;
}

.bg-grey-50 {
    color: $black;
    background-color: $grey-50;
}

.bg-grey-100 {
    color: $black;
    background-color: $grey-100;
}

.bg-grey-200 {
    color: $black;
    background-color: $grey-200;
}

.bg-grey-300 {
    color: $black;
    background-color: $grey-300;
}

.bg-grey-400 {
    color: $black;
    background-color: $grey-400;
}

.bg-grey-500 {
    color: $black;
    background-color: $grey-500;
}

.bg-grey-600 {
    color: $white;
    background-color: $grey-600;
}

.bg-grey-700 {
    color: $white;
    background-color: $grey-700;
}

.bg-grey-800 {
    color: $white;
    background-color: $grey-800;
}

.bg-grey-900 {
    color: $white;
    background-color: $grey-900;
}

.bg-blue-grey-50 {
    color: $black;
    background-color: $blue-grey-50;
}

.bg-blue-grey-100 {
    color: $black;
    background-color: $blue-grey-100;
}

.bg-blue-grey-200 {
    color: $black;
    background-color: $blue-grey-200;
}

.bg-blue-grey-300 {
    color: $black;
    background-color: $blue-grey-300;
}

.bg-blue-grey-400 {
    color: $white;
    background-color: $blue-grey-400;
}

.bg-blue-grey-500 {
    color: $white;
    background-color: $blue-grey-500;
}

.bg-blue-grey-600 {
    color: $white;
    background-color: $blue-grey-600;
}

.bg-blue-grey-700 {
    color: $white;
    background-color: $blue-grey-700;
}

.bg-blue-grey-800 {
    color: $white;
    background-color: $blue-grey-800;
}

.bg-blue-grey-900 {
    color: $white;
    background-color: $blue-grey-900;
}

.bg-transparent {
    background-color: transparent;
}

.bg-white-0   {
    color: $black;
    background-color: $white;
}