.width-full {
    width: 100%
}

.height-full {
    height: 100%
}

// full page
.full-page-nav {
    height: calc(100vh - 73px);
}

.full-page {
    height: calc(100vh);
}

.full-page-banner {
    height: 30vh;
    width: 100%;
    background-color: $primary-color;
    position: absolute;
}

.full-page-background {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}