<div id="{{modalId}}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-grey-200">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button (click)="onSubmitEvent()" type="button" class="btn btn-primary">Submit</button>
        <button *ngIf="secondaryButtonText" (click)="onSecondarySubmitEvent()" type="button" class="btn btn-info">{{secondaryButtonText}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>