.exercise-form {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    min-height: 200px;
    width: 400px;
    border-radius: 0;
    z-index: 20;
    position: relative;
    animation-name: form-in;
    animation-duration: 0.5s;
    transition: 0.5s;
}

@keyframes form-in {
    from {
        height: 0;
        min-height: 0;
    }
    to {
        height: auto;
        min-height: 200px;
    }
}