<div class="width-full px-5">
  <div class="row">

    <div class="col exercise-form">
      <div class="input mt-5">
        <select [(ngModel)]="exercise.type" name="type" required>
          <option *ngFor="let type of exerciseTypes" [ngValue]="type">{{type.name}}</option>
        </select>
        <label>Exercise</label>
      </div>
      <ng-container *ngFor="let set of exercise.sets">
        <div class="row">
          <div class="col-4">
            <div class="input">
              <input [(ngModel)]="set.reps" name="reps" type="text" type="text" required />
              <label>Reps</label>
            </div>
          </div>
          <div class="col-4">
            <div class="input">
              <input [(ngModel)]="set.weight" name="weight" type="text" type="text" required />
              <label>Weight</label>
            </div>
          </div>
          <div class="col-4">
            <div class="input">
              <input [(ngModel)]="set.restPeriod" name="restPeriod" type="text" type="text" required />
              <label>Rest</label>
            </div>
          </div>
        </div>
      </ng-container>
      <button (click)="onAddSet()" class="btn btn-fab btn-fab-anchor-t fab-in bg-orange-500">
        <i class="material-icons">add</i>
      </button>
      <button (click)="onSaveExercise()" class="btn btn-fab btn-fab-anchor-r bg-blue-700">
        <i class="material-icons">save</i>
      </button>
      <button (click)="onAddSuperSet()" class="btn btn-fab btn-fab-anchor-r2 bg-green-700">
        <i class="material-icons">add</i>
      </button>
      <button (click)="onClose()" class="btn btn-fab btn-fab-anchor-r3 bg-red-700">
        <i class="material-icons">close</i>
      </button>
    </div>

    <div class="col">
      <div *ngIf="exercise && workoutExercise.exercises && workoutExercise.exercises.length > 0" class="mt-5">
        <div class="card-body">
          <div *ngFor="let exercise of workoutExercise.exercises" (click)="onSelectExercise(exercise)" class="row">
            <div class="col">
              {{exercise?.type?.name}}
            </div>
            <div *ngFor="let set of exercise.sets" width="20%" class="col">
              {{set.reps}} x {{set.weight}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>