<a (click)="onWorkoutSelected()" href="javascript:void(0)" class="card p-0 list-group-item list-group-item-action">
  <div class="icon">
    <span class="icon-text">{{getSimplifiedName(programName)}}</span>
  </div>
  <div class="details">
    <p class="primary-text">{{workout?.name}}</p>
  </div>
  <div class="action">
    <button *ngIf="changed" (click)="onSaveWorkout()" class="btn btn-fab btn-fab-xs bg-blue-600">
      <i class="material-icons">save</i>
    </button>
  </div>
</a>





<!-- <div class="card calendar-day-details calendar-day-details-0">
  <div class="card-text m-3">{{getDate(workoutDay.date)}}</div>
  <div class="card-title z-1">
    Push Day
  </div>
  <h3 class="mt-1">Monday</h3>
  <div class="row mt-3">
    <div class="col-3 icon-col">
      <i class="material-icons">access_time</i>
    </div>
    <div class="col-md-3 col--9">
      0H54m
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3 icon-col">
      <i class="material-icons">assessment</i>
    </div>
    <div class="col-md-3 col--9">
      1200kg
    </div>
  </div>
</div> -->