.calendar-day-details {
    background-position: center;
    background-size: cover;
    height: 70vh;
    text-align: center;
    transition: 0.5s;
    animation-name: calendar-day-details-in;
    animation-duration: 1s;
}

.card-title {
    margin: 0 -10px;
    padding: 10px;
    width: auto;
    height: 80px;
    background: white;
    color: black;
    font-size: 40px;
    text-align: center;
}

.icon-col {
    border-right: 1px solid #999;
}

.calendar-details-container {
    margin: auto;
}

@keyframes calendar-day-details-in {
    from {
        margin-left: 50%;
        transform: scale(0.3);
    }
    to {
        margin-left: 0;
    }
}
