<button (click)="onAddWorkout()" [class.fab-in]="!activeWorkoutExercise" [class.fab-out]="activeWorkoutExercise" class="btn btn-primary btn-fab fixxed">
  <i class="material-icons">add</i>
</button>
<button (click)="onSaveWorkout()" [class.fab-in]="activeWorkoutExercise" [class.fab-out]="!activeWorkoutExercise" class="btn bg-green-600 btn-fab fixxed">
  <i class="material-icons">save</i>
</button>

<div class="container my-5">

  <div class="row">
    <div *ngIf="workoutDay" class="col-md-12">

      <!-- START Completed Workouts -->
      <ng-container *ngIf="workoutDay?.completedWorkouts?.length > 0">
        <h6 class="m-3 text-center">Completed Workouts</h6>
        <div class="workout-day-details list-group">
        </div>
      </ng-container>
      <!-- END Completed Workouts -->

      <!-- START Future Workouts -->
      <ng-container *ngIf="workoutDay?.expectedWorkouts?.length > 0">
        <h6 class="m-3 text-center mt-5">Future Workouts</h6>
        <div class="p-0 list-group">
          <a *ngFor="let expectedWorkout of workoutDay.expectedWorkouts" (click)="onSelectWorkout(expectedWorkout)"
            [class.active]="expectedWorkout === workout" href="javascript:void(0)" class="z-1 list-group-item list-group-item-action expand">
            <div class="list-group-item">
              <div class="icon">
                <span class="text">{{getSimplifiedName(expectedWorkout?.program?.name)}}</span>
              </div>
              <div class="details">
                <p class="text color-grey-500">{{expectedWorkout?.name}}</p>
              </div>
              <div class="action">
                <button routerLink="/workout/{{expectedWorkout.id}}/track" class="btn btn-fab btn-fab-s bg-blue-600">
                  <i class="material-icons">play_arrow</i>
                </button>
              </div>
            </div>
            <div *ngIf="workout" class="list-group-item">

              <app-workout-day-exercise *ngIf="activeWorkoutExercise" class="list-group-item" (saveWorkoutExercise)="onSaveActiveExercise($event)" (close)="onCloseExercise()"
                [workoutExercise]="activeWorkoutExercise" [exerciseTypes]="exerciseTypes"></app-workout-day-exercise>
              <div *ngIf="workout.workoutExercises.length < 1" class="list-group-item mb-3">
                <div class="p-3">No exercises today</div>
              </div>
              <div *ngFor="let workoutExercise of workout.workoutExercises" class="mb-3 list-group-item">
                <table class="table">
                  <tr *ngFor="let exercise of workoutExercise.exercises" (click)="onSelectWorkoutExercise(workoutExercise)">
                    <td>
                      {{exercise.type.name}}
                    </td>
                    <td *ngFor="let set of exercise.sets" width="15%">{{set.reps}} x {{set.weight}}</td>
                  </tr>
                </table>
              </div>
              <button *ngIf="!activeWorkoutExercise" (click)="onAddExercise()" class="btn btn-fab btn-fab-anchor-t bg-white">
                <i class="material-icons">add</i>
              </button>

            </div>

          </a>
        </div>
      </ng-container>
      <!-- END Future Workouts -->

    </div>

  </div>

</div>