@keyframes exercise-form-out {
    from {
        height: auto;
    }
    to {
        height: 50px;
    }
}

.card-body {
    position: relative;
}

.list-group-item .table th, .table td   {
    border: 0;
}