/* You can add global styles to this file, and also import other style files */

.z-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.z-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.z-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.z-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.z-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.primary {
    background-color: #B71C1C;
    color: #ffffff;
}

/* mt design */

.input {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px 0;
}

.input input,
.input select {
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 16px;
    text-align: left;
    color: inherit;
}

.input input:focus,
.input select:focus {
    outline: none;
}

.input label {
    bottom: 0;
    color: #999;
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition: 0.15s;
    z-index: 100;
}

.input input:focus~label,
.input input:valid~label,
.input select:focus~label,
.input select:valid~label {
    font-size: 10px;
    top: -15px;
    color: #333;
}