<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <div class="m-auto">
        <div class="row mt-3">
          <div class="col-3">
            <button (click)="onStartStopWatch()" class="btn btn-fab">
              <i class="material-icons">play_arrow</i>
            </button>
          </div>
          <div class="col-9">
            <h1>{{currentActivity.time}}s / {{currentActivity.estimatedTime}}s</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="list-group">
        <div *ngFor="let exerciseActivity of exerciseActivitys" [class.active]="exerciseActivity === currentActivity"
          class="z-1 list-group-item list-group-item-action expand">
          <div class="list-group-item">
            <div class="icon">
              <div class="text">
                {{exerciseActivity?.exerciseType?.name}}
              </div>
            </div>
            <div class="details">
              <span class="text text-right color-grey-500">
                {{exerciseActivity?.estimatedTime}}
              </span>
            </div>
          </div>
          <div class="list-group-item p-3">
            Test
          </div>
        </div>
      </div>
    </div>
  </div>
</div>